---
const { title } = Astro.props;
import Header from "../components/Header";
import "../components/App.css"
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <Header client:load />
  </head>
  <body>
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
  </body>
</html>
<!-- //!UIUI
// function AppLayout() {
//   return (
//     <div className="flex flex-col min-h-screen">
//       <Header />
//       <main className={`flex-grow overflow-y-auto relative `}>
// <body>
// 		<slot />
// 	</body>
//       </main>
//     </div>
//   );
// } -->